*,
html,
body {
  padding: 0%;
  margin: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  height: 100vh;
  width: 100%;
  color: black;
  background-color: white;
}

.default {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: black;
}

.rainbow1 {
  color: white;
  background-color: red;
}

.rainbow2 {
  color: white;
  background-color: green;
}

.rainbow3 {
  color: white;
  background-color: blue;
}

.rainbow4 {
  color: white;
  background-color: yellow;
}

.rainbow5 {
  color: white;
  background-color: purple;
}

.listNavbar {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.listNavbar > div {
  width: 80vh;
  display: flex;
}

.listNavbar > div :hover {
  background-color: #555;
  transition-delay: 0.2ms;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.listNavbar > div > a {
  height: 8vh;
  padding: 0% 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
}

.listNavbar > i {
  font-size: 47px;
  margin-right: 20px;
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.textContent {
  font-size: 50px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  text-transform: capitalize;
}

#textReset > p {
  padding-top: 8px;
}

#textContent1 {
  font-size: 25px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  animation: jedagJedug 0.5s infinite;
  -webkit-animation: jedagJedug 0.5s infinite;
}

@keyframes jedagJedug {
  0% {
    font-size: 25px;
  }
  50% {
    font-size: 28px;
  }
  100% {
    font-size: 25px;
  }
}

@media screen and (max-width: 576px) {
  .listNavbar > div > a {
    font-size: 20px;
  }
  .listNavbar > i {
    font-size: 40px;
    margin-right: 0%;
  }
  #textReset > p {
    padding-top: 13px;
  }
}

@media screen and (max-width: 320px) {
  .listNavbar > div > a {
    font-size: 15px;
  }
  .listNavbar > i {
    font-size: 32px;
    margin-right: 0%;
  }
}
